.text-field{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: #4C9DA6;
    -fx-prompt-text-fill: #4C9DA6;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    /*-fx-border-image-insets: #4C9DA6;*/

}

.text-field:focused{
    -fx-background-color: -fx-focus-color, -fx-background ;
}
